@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* These variables are used for the infinite scrolling effect in _components/partners-carousel.tsx */
  --no-of-slides: 6;
  --slides-in-view: 4;
  --slide-width: 200px;
  --slide-height: 56px;
  --iteration-time: 15s;
}
